{% extends "sources/base.html" %}
{% load js %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "tables" %}
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
    $("table.tablesorter").tablesorter({
        textExtraction: function(node) {
            val = node.getAttribute("val");
            if (val == null)
                val = node.textContent || node.innerText;
            return val;
        },
    });
});
</script>
{% endblock %}

{% block breadcrumbs %}{{block.super}} / <a href="{{source.get_absolute_url}}">{{source}}</a>{% endblock %}

{% block content %}

<h1>Debian Contributors {{source.name}} {{ct.desc}} data source</h2>

<h2>Contributions</h2>

<p>{{contribs.count}} contributors/contributions tracked:</p>

<table id="contribs" class="tablesorter">
<thead>
    <tr>
        <th>Name</th>
        <th>Since</th>
        <th>Until</th>
    </tr>
</thead>
<tbody>
    {% for c in contribs %}
    <tr>
      <td><a href="{{c.user.get_absolute_url}}">{{c.user}}</a></td>
      <td val="{{c.begin|date:"Ymd"}}">{{c.begin}}</td>
      <td val="{{c.until|date:"Ymd"}}">{{c.until}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}
