{% extends "sources/base.html" %}
{% load js %}
{% load i18n %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "tables" %}
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
    $("table.tablesorter").tablesorter({
        textExtraction: function(node) {
            val = node.getAttribute("val");
            if (val == null)
                val = node.textContent || node.innerText;
            return val;
        },
    });
});
</script>
{% endblock %}


{% comment %}
{% block navbar %}
{{block.super}}
<li><a href="{% url 'source_update' sname=source.name %}">Configure</a></li>
{% endblock %}
{% endcomment %}

{% comment %}
{% block breadcrumbs %}{{block.super}} / <a href="{% url people %}">people</a>{% endblock %}
{% endcomment %}

{% comment %}
{% block relatedpages %}
{% if not user.is_anonymous %}
<a href="{% url 'source_settings' sname=source.name %}">user settings</a>
<a href="{% url 'source_update' sname=source.name %}">configure</a>
{% endif %}
{{block.super}}
{% endblock %}
{% endcomment %}

{% block content %}

<h1>User settings for '{{source.name}}'</h1>

<p>
From here you can control if you are hidden in {{source.name}}.
</p>

<form method="POST" action="{% url 'source_user_settings' sname=source.name %}">{% csrf_token %}

<p>
<input type="checkbox" name="hide" {% if settings and settings.hidden %}checked="checked"{% endif %}>
<label for="hide">Hide your contributions in {{source.name}}</label>
</p>

<button>{% trans "Submit" %}</button>

</form>

{% endblock %}

