{% extends "contributors/base.html" %}
{% load js %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "autocomplete" %}
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/jquery-ui/jquery-ui.min.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/jquery-ui/jquery-ui.structure.min.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/jquery-ui/jquery-ui.theme.min.css">
  <style type="text/css">
  tt.fingerprint {
    white-space: pre;
  }
  </style>
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
function complete_email(request, response) {
  $.ajax({
    url: "{% url 'contributors_claim_idents' type='email' %}",
    method: "GET",
    data: { q: request.term },
    success: function(data) {
      response(data);
    },
    error: function(xhr, ajaxOptions, thrownError) {
      console.error(xhr, ajaxOptions, thrownError);
      response([]);
    },
  });
}

function complete_fpr(request, response) {
  $.ajax({
    url: "{% url 'contributors_claim_idents' type='fpr' %}",
    method: "GET",
    data: { q: request.term.replace(" ", "") },
    success: function(data) {
      response($.map(data, format_fingerprint));
    },
    error: function(xhr, ajaxOptions, thrownError) {
      console.error(xhr, ajaxOptions, thrownError);
      response([]);
    },
  });
}

function complete_person(request, response) {
  $.ajax({
    url: "{% url 'contributors_claim_people' %}",
    method: "GET",
    data: { q: request.term },
    success: function(data) {
      response(data);
    },
    error: function(xhr, ajaxOptions, thrownError) {
      console.error(xhr, ajaxOptions, thrownError);
      response([]);
    },
  });
}


function format_fingerprint(fpr) {
  fpr = fpr.replace(" ", "");
  if (fpr.length == 40)
    return fpr.substr(0, 4) + " " + fpr.substr(4, 4) + " " + fpr.substr(8, 4) + " "
         + fpr.substr(12, 4) + " " + fpr.substr(16, 4) + "  "
         + fpr.substr(20, 4) + " " + fpr.substr(24, 4) + " " + fpr.substr(28, 4) + " "
         + fpr.substr(32, 4) + " " + fpr.substr(36, 4);
  return fpr;
}

$.widget("ui.autocomplete_fpr", $.ui.autocomplete, {
  _renderItem: function( ul, item ) {
    return $("<li>")
            .attr("data-value", item.value)
            .append($("<tt class='fingerprint'>").text(item.label)) // The second is 0x00A0
            .appendTo(ul);
  }
});

function main()
{
  $("#assoc_email").find("input[name=name]").autocomplete({
    source: complete_email,
  });
  $("#assoc_fpr").find("input[name=name]").autocomplete_fpr({
    source: complete_fpr,
  });
  $("input[name=person]").autocomplete({
    source: complete_person,
  });
}
$(main);
</script>
<style>
#contributors {
  float: left;
  width: 45%;
}
#teams {
  float: right;
  width: 45%;
}
</style>
{% endblock %}

{% block relatedpages %}
{{block.super}}
{% endblock %}

{% comment %}
{% block breadcrumbs %}{{block.super}} / <a href="{% url people %}">people</a>{% endblock %}
{% endcomment %}

{% block content %}

<h1>Claim address</h1>

<div id="intro">
  <p>Associate identifiers to people. As Debian Developer, you can associate any
  identifier to any person. You can use this to help friends or people in your
  teams get credited.</p>
  <p><b>Always ask</b> before associating an identifier to a person other than
  you: do not associate people without their consent.</p> 
</div>

<h2>Email</h2>

<form id="assoc_email" method="POST" action="{% url 'contributors_claim' %}">{% csrf_token %}
  <input type="hidden" name="type" value="email"></input>
  Associate email <input type="text" name="name" placeholder="foo@example.org"></input>
  to account <input type="text" name="person" value="{{user.email}}"></input>
  <button>Submit</button>
  {% if msg.email %}<div class="{{msg.msgclass}}"><p>{{msg.email}}</p></div>{% endif %}
</form>

<h2>GPG key</h2>

<form id="assoc_fpr" method="POST" action="{% url 'contributors_claim' %}">{% csrf_token %}
  <input type="hidden" name="type" value="fpr"></input>
  Associate GPG key with fingerprint <input type="text" name="name" size="60" placeholder="1234 5678 9ABC DEF0 1234  5678 9ABC DEF0 1234 5678"></input>
  to account <input type="text" name="person" value="{{user.email}}"></input>
  <button>Submit</button>
  {% if msg.fpr %}<div class="{{msg.msgclass}}"><p>{{msg.fpr}}</p></div>{% endif %}
</form>

<h2>Login</h2>

<form id="assoc_login" method="POST" action="{% url 'contributors_claim' %}">{% csrf_token %}
  <input type="hidden" name="type" value="login"></input>
  Associate login <input type="text" name="name" placeholder="example"></input>
  to account <input type="text" name="person" value="{{user.email}}"></input>
  <button>Submit</button>
  {% if msg.login %}<div class="{{msg.msgclass}}"><p>{{msg.login}}</p></div>{% endif %}
</form>


{% endblock %}
