{% extends "contributors/base.html" %}
{% load js %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "tables" %}
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
    var perstable = $("table.tablesorter");

    perstable.tablesorter({
        textExtraction: function(node) {
            val = node.getAttribute("val");
            if (val == null)
                val = node.textContent || node.innerText;
            return val;
        },
    });
});
</script>
<style>
#contributors {
  float: left;
  width: 45%;
}
#teams {
  float: right;
  width: 45%;
}
</style>
{% endblock %}

{% block relatedpages %}
{% if prev_year %}<a href="{% url 'contributors_year' year=prev_year %}">{{prev_year}}</a>{% endif %}
{% if next_year %}<a href="{% url 'contributors_year' year=next_year %}">{{next_year}}</a>{% endif %}
<a href="{% url 'contributors_flat' %}">all contributors</a>
<a href="{% url 'contributors_sources_flat' %}">all teams</a>
{{block.super}}
{% endblock %}

{% comment %}
{% block breadcrumbs %}{{block.super}} / <a href="{% url people %}">people</a>{% endblock %}
{% endcomment %}

{% block content %}

<h1>Debian Contributors list</h1>

<div id="intro">
<p>This is a list of all the {{people.count}} people and {{teams.count}} teams whose most recent contribution to Debian was in {{year}}.<br />
The information is based on <a href="{% url 'source_list' %}">our current knowledge</a>, which you can <a href="https://wiki.debian.org/Teams/FrontDesk/DcSiteDevel#Data_sources">help us improve</a>.
</p>
</div>

<table id="contributors" class="tablesorter {{class}}">
<thead>
    <tr>
        <th>Person</th>
        <th>Until</th>
    </tr>
</thead>
<tbody>
    {% for p in people %}
    <tr>
      <td><a href={{p.user.get_absolute_url}}>{{p.user}}</a></td>
        <td val="{{p.until|date:"m"}}">{{p.until|date:"F"}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

<table id="teams" class="tablesorter {{class}}">
<thead>
    <tr>
        <th>Team</th>
        <th>Until</th>
    </tr>
</thead>
<tbody>
    {% for t in teams %}
    <tr>
        <td><a href={% url 'source_view' sname=t.source.name %}>{{t.source}}</a></td>
        <td val="{{t.until|date:"m"}}">{{t.until|date:"F"}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}
