{% extends "contributors/base.html" %}
{% load js %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "tables" %}
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
    var perstable = $("table.tablesorter");

    perstable.tablesorter({
        textExtraction: function(node) {
            val = node.getAttribute("val");
            if (val == null)
                val = node.textContent || node.innerText;
            return val;
        },
    });
});
</script>
{% endblock %}

{% comment %}
{% block relatedpages %}
<a href="{% url 'contributors_flat' %}">flat version</a>
{{block.super}}
{% endblock %}
{% endcomment %}

{% comment %}
{% block breadcrumbs %}{{block.super}} / <a href="{% url people %}">people</a>{% endblock %}
{% endcomment %}

{% block content %}

<h1>Site status</h1>

<h2>Development roadmap</h2>

<h3>Milestone 1: proof of concept [done]</h3>

<ul>
  <li>Anyone can create data sources [done]</li>
  <li>Data submission works [done]</li>
  <li>The site shows the list of contributors, either project-wide or split by
  team and by contribution type. [done]</li>
  <li>Identity management is not yet implemented: to avoid suprising behaviour
      privacy-wise, the list is limited to work that can be connected to:
      <ul>
        <li><tt><i>name</i>@debian.org</tt>,
            <tt><i>name</i>@users.alioth.debian.org</tt></li>
        <li>Any related email showing in UIDs of keys in the Debian Developer or
            Debian Maintainer keyrings</li>
        <li>Valid usernames in <tt>debian.org</tt> or
            <tt>alioth.debian.org</tt> machines.</li>
      </ul>[done]
  </li>
</ul>

<h3>Milestone 2: let's feed the site</h3>

Get as many data sources as possible up and running. The list of Debian
Contributors should become <i>at least</i> a superset of the list of active
Debian Developers and the list of active Debian Maintainers. People whose work
is visible and credited right now, should be visible and credited also as
Debian Contributors.

<h3>Milestone 3: identity management</h3>

Allow every Debian Contributor to log in the website, manage privacy options,
and claim ownership of alternate email addresses or GPG keys. The site will
then be free to finally show the full range of contributors.

<h2>Site statistics</h2>

Number of emails, fingerprints or login names for which we see contributions
and that we can map to a Debian or Alioth account:

<table class="tablesorter">
  <thead>
    <tr><th>Type</th><th>Count</th></tr>
  </thead>
  <tbody>
  {% for i in stats.associated %}
  <tr>
    <td>{{i.type}}</td><td>{{i.count}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

Number of emails, fingerprints or login names for which we see contributions
but that we cannot map to a Debian or Alioth account:

<table class="tablesorter">
  <thead>
    <tr><th>Type</th><th>Count</th></tr>
  </thead>
  <tbody>
  {% for i in stats.unassociated %}
  <tr>
    <td>{{i.type}}</td><td>{{i.count}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<h2>Data source health information</h2>

<p><i>Last submission</i> is when the data source last got in touch and uploaded
data. <i>Latest contribution</i> is the date of the latest contribution
reported from the data source.</p>

<table id="sources" class="tablesorter {{class}}">
<thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Last submission</th>
        <th>Latest contribution</th>
        <th>Admins</th>
    </tr>
</thead>
<tbody>
    {% for s in sources %}
    <tr>
      <td><a href="{{s.get_absolute_url}}">{{s.name}}</a></td>
      <td>{{s.desc}}</td>
      <td val="{{s.last_import|date:"YmdHms"}}">
        {% if s.last_import %}
          {{s.last_import|timesince}} ago
        {% else %}
          none
        {% endif %}
      </td>
      <td val="{{s.last_contribution|date:"YmdHms"}}">
        {% if s.last_contribution %}
          {{s.last_contribution|timesince}} ago
        {% else %}
          none
        {% endif %}
      </td>
      <td>
        {% for u in s.admins.all %}
        <a href="{{u.get_absolute_url}}">{{u.unambiguous_user_id}}</a>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}
