{% extends "contributors/base.html" %}
{% load js %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "tables" %}
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
    var perstable = $("table.tablesorter");

    perstable.tablesorter({
        textExtraction: function(node) {
            val = node.getAttribute("val");
            if (val == null)
                val = node.textContent || node.innerText;
            return val;
        },
    });
});
</script>
{% endblock %}

{% block content %}

<h1>Dump variables for Zobel</h1>

<table id="vars" class="tablesorter {{class}}">
<thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
</thead>
<tbody>
    {% for k, v in vars %}
    <tr>
      <th><tt>{{k}}</tt></th>
      <td><tt>{{v}}</tt></td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}
