{% extends "dc-base.html" %}

{% block content %}

<div id="intro">
    <p>This page describes the Debian Contributors website from a privacy point of view.</p>
</div>

Current opt-in/opt-out situation:

opt-out:
 * Contributions done with a @debian.org or @users.alioth.debian.org login or email address
 * Contributions done with an OpenPGP key that is in a DD or DM keyring
 * Contributions done with an email address that is in a well-signed UID in the DD or DM keyring

opt-in: anything else

Identity management features:
 * You can set your display name to anything you identify with.
 * You can hide all your contributions, no matter what.
 * You can hide all contributions done under any email addresses, login names
   or OpenPGP key that you do not want to be publicly visible.
 * You can hide your activity in any team where you do not want to be visible.

Visibility features:
 - your identifiers are visible only by yourself when you are logged in. The
   site will never publish your email addresses, or gpg key fingerprints except
   the @debian.org and @users.alioth.debian.org that it uses as usernames.
    - exception: if you go to https://contributors.debian.org/contributor/enrico@enricozini.org
      it will recognise any known identifier and map it to your main identity.
      That feature is needed to provide links to your contributors page from
      DDPO, the PTS and other Debian pages.

Not implemented yet:
 - taking ownership of an email address, gpg key or account name that has not
   been automatically assigned to your debian or alioth account. It will be
   implemented soon, but if in the meantime there is some activity you want to
   opt-out, please send an email to enrico@debian.org and it'll be done
   manually and confidentially.


{% endblock %}
