{% extends "contributors/base.html" %}
{% load js %}
{% load i18n %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "tables" %}
{% endblock %}

{% block relatedpages %}
{% if request.user.is_superuser and request.user != contributor %}<a href="{% url 'contributor_impersonate' name=contributor.email %}?url={{request.build_absolute_uri}}">impersonate</a>{% endif %}
{% if request.user.is_dd %}<a href="{% url 'contributors_claim' %}">associate identifiers</a>{% endif %}
{% if not redacted or request.user.is_dd %}<a href="{% url 'contributor_unclaim' name=contributor.email %}">unassociate identifiers</a>{% endif %}
{{block.super}}
{% endblock %}

{% block head %}
{{block.super}}
<style>
td.save_settings {
  text-align: right;
}
p.visform {
  margin: 0;
}
p.visuser {
  margin-bottom: 1em;
}
p.vissubmit {
  margin-top: 1em;
}
tr.hidden {
  background: #ccc;
}
</style>
<script type="text/javascript">
$(function() {
    $("table.tablesorter").tablesorter({
        textExtraction: function(node) {
            val = node.getAttribute("val");
            if (val == null)
                val = node.textContent || node.innerText;
            return val;
        },
    });
});
</script>
{% endblock %}
{% block content %}

<h1>Debian Contributor {{contributor}}</h1>


<div id="intro">
  {% if redacted %}
  <i>{{contributor}}</i> has contributed to:
  {% else %}
  You have contributed to:
  {% endif %}
</div>

<table class="tablesorter">
<thead>
  <tr>
    <th>{% trans "Identifier" %}</th>
    <th>{% trans "Team" %}</th>
    <th>{% trans "Contribution" %}</th>
    <th>{% trans "Since" %}</th>
    <th>{% trans "Until" %}</th>
  </tr>
</thead>
<tbody>
{% for c in contributions %}
<tr {% if c.hidden %}class="hidden"{% endif %}>
      {% if redacted %}
      <td>
        {{c.identifier.type}}:{% if c.identifier.type == "email" %}hidden{% else %}{{c.identifier.name}}{% endif %}
      </td>
      {% else %}
      <td>{{c.identifier.type}}:{{c.identifier.name}}</td>
      {% endif %}
      <td>
        <a href="{{c.type.source.get_absolute_url}}">{{c.type.source}}</a>
      </td>
      <td>
        <a href="{{c.type.get_absolute_url}}">{{c.type.contrib_desc}}</a>
        {% if c.url %}
        <a href="{{c.url}}">(extra info)</a>
        {% endif %}
      </td>
      {% if redacted %}
      <td val="{{c.begin|date:"Ym"}}">{{c.begin|date:"F Y"}}</td>
      <td val="{{c.until|date:"Ym"}}">{{c.until|date:"F Y"}}</td>
      {% else %}
      <td val="{{c.begin|date:"Ymd"}}">{{c.begin}}</td>
      <td val="{{c.until|date:"Ymd"}}">{{c.until}}</td>
      {% endif %}
    </tr>
{% endfor %}
</tbody>
</table>

{% if not redacted %}

<h2>Personal activity log</h2>

{% if user_log %}
<table class="tablesorter">
  <thead>
    <tr><th>{% trans "Time" %}</th><th>{% trans "Entry" %}</th></tr>
  </thead>
  <tbody>
  {% for l in user_log %}
    <tr><td>{{l.ts}}</td><td>{{l.text}}</td></tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
{% trans "No activity found on record." %}
{% endif %}

{% for ident in identifiers %}

<h2>{{ident.ident.type}}:{{ident.ident.name}} activity log</h2>

{% if ident.log %}
<table class="tablesorter">
  <thead>
    <tr><th>{% trans "Time" %}</th><th>{% trans "Entry" %}</th></tr>
  </thead>
  <tbody>
  {% for l in ident.log %}
    <tr><td>{{l.ts}}</td><td>{{l.text}}</td></tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
{% trans "No activity found on record." %}
{% endif %}

{% endfor %}

<h2>{% trans "Settings" %}</h2>

<form method="post" action="{% url 'contributor_save_settings' name=contributor.email %}">{% csrf_token %}

<h3>{% trans "User information" %}</h3>

<label for="full_name">{% trans "Full name: " %}</label>
<input type="text" name="full_name" value="{{contributor.full_name}}"></input>

<h3>{% trans "User visibility" %}</h3>

<p class="visform visuser">
<input type="checkbox" name="hide_user" {% if hide_user %}checked="checked"{% endif %} class="hide_user">
<label for="hide_user">{% trans "hide all activity from this user" %}</label>
</p>

{% for s in identifiers %}
<p class="visform">
<input type="checkbox" name="hide_{{s.ident.pk}}" {% if s.ident.hidden %}checked="checked"{% endif %} class="hide_ident">
<label for="hide_{{s.ident.pk}}">
  {% blocktrans with type=s.ident.type name=s.ident.name %}
  hide all activity from {{type}} "{{name}}"
  {% endblocktrans %}
</label>
</p>
{% endfor %}

<p class="visform vissubmit"><button>{% trans "Save settings" %}</button></p>

</form>

<h3>{% trans "Hidden contributions" %}</h3>

{% if source_settings %}
<p>{% trans "These teams are currently hidden:" %}</p>
<ul>
  {% for s in source_settings %}
  <li>
    You will not show in team <a href="{% url 'source_user_settings' sname=s.source.name %}">{{s.source.name}}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>{% trans "No teams are currently hidden." %}</p>
{% endif %}

{% endif %}

{% endblock %}
