{% extends "contributors/base.html" %}
{% load js %}
{% load i18n %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "tables" %}
{% endblock %}

{% block relatedpages %}
{% if request.user.is_dd %}<a href="{% url 'contributors_claim' %}">associate identifiers</a>{% endif %}
{{block.super}}
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
function main() {
  // Activate tablesorter
  $("table.tablesorter").tablesorter({
      textExtraction: function(node) {
          val = node.getAttribute("val");
          if (val == null)
              val = node.textContent || node.innerText;
          return val;
      },
  });
}

$(main);
</script>
{% endblock %}
{% block content %}

<h1>Debian Contributor {{contributor}}: unassociate identifiers</h1>

<div id="intro">
  {% if own_page %}
  From this page you can unassociate some of the identifiers currently associated with you.
  {% else %}
  From this page you can unassociate some of the identifiers currently associated with {{contributor}}.
  {% endif %}
</div>

<table class="tablesorter">
<thead>
  <tr>
    <th>{% trans "Type" %}</th>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Actions" %}</th>
  </tr>
</thead>
<tbody>
{% for ident in identifiers %}
<tr>
  <td>{{ident.type}}</td>
  <td>{{ident.name}}</td>
  <td>
    <form action="{% url 'contributor_unclaim' name=contributor.email %}" method="POST">{% csrf_token %}
      <button name="id" value="{{ident.pk}}">Unassociate</button>
    </form>
  </td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
